<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="org.learnings.Dev" autowire="byType">
<!--        <property name="comp" ref="desk"/>-->
<!--        <property name="comp" ref="lap"/>-->
    </bean>

    <bean id="lap" class="org.learnings.Laptop" primary="true" />

    <bean id="desk" class="org.learnings.Desktop" />


</beans>